# Arduino geçici derleme dosyaları
*.hex
*.bin
*.elf
*.eep
*.map
*.d
*.o

# Arduino IDE / CLI derleme klasörleri
build/
sketches/
*.cpp.d
*.cpp.o

# İşletim sistemi gereksiz dosyaları
.DS_Store
Thumbs.db

# Yedek / geçici dosyalar
*~
*.bak
*.swp
